.list-rekomendasi {
  .title {
    font-size: 30px;
    text-align: center;
  }

  .btn-kategori-a {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin: 1rem 0 2rem 0;

    .btn-kategori-item {
      text-decoration: none;
      border: none;
      background-color: transparent;
      color: #a2a2a2;
      margin: 0 1.2rem;

      &.btn-active {
        color: #2f3c80;
        font-weight: 700;
      }
    }

    .btn-active {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        background-color: #f4a81e;
        width: 80%;
        height: 3px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }
}
