.card-testimoni {
  border-radius: 10px;
  box-shadow: 8px 5px 25px rgba(0, 0, 0, 0.12);
  width: 555px;
  height: 277px;
  padding: 40px;
  .user-testimoni {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    img {
      width: 80px;
      height: auto;
      margin-right: 1.6rem;
    }
    .user-info-testimoni {
      h5 {
        font-size: 20px;
        font-weight: 700;
      }
      p {
        margin-bottom: 0;
        font-weight: 400;
        font-size: 20px;
      }
    }
  }
  .user-konten-testimoni {
    p {
      font-size: 18px;
      font-style: italic;
      color: #a2a2a2;
    }
  }
}
