.nav-collapse {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;

  .navbar-btn {
    display: flex;
    height: 100%;
    align-items: center;

    .navbar-btn-item {
      margin-right: 2rem;
      // position: relative;
      // padding: 10px 0;
      display: flex;
      align-items: center;
      height: 100%;
      a {
        margin: 0;
      }
    }
    .item-btn-toogle {
      // display: flex;
      // align-items: center;
      // flex-direction: column;
      .navbar-btn-hover {
        background-color: transparent;
        outline: none;
        border: none;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 14px;
      }
      &:hover {
        .list-kategori-nav {
          display: block;
        }
      }
      .list-kategori-nav {
        display: none;
        list-style-type: none;
        margin-top: 1.8rem;
        padding: 1rem;
        border-radius: 10px;
        border: 1px solid #d3d3d3;
        position: absolute;
        background-color: #ffffff;
        top: 52px;
        // bottom: 0;
        // margin-bottom: -50px;

        z-index: 1;
        .list-kategori-nav-item {
          padding-bottom: 0.8rem;
          &:last-child {
            padding-bottom: 0;
          }
          // margin-bottom: 1rem;
          .list-kategori-link {
            color: #000000;
            text-transform: capitalize;
          }
        }
      }
    }
  }

  .navbar-search {
    .search-nav {
      border-radius: 20px;
      outline: none;
      border: none;
      padding: 0 0.5rem;
      height: 28px;
    }
  }

  .navbar-register {
    .btn-login {
      margin-right: 1rem;
      border: 1px solid #ffffff;
      padding: 4px 16px;
      border-radius: 10px;
    }

    .btn-register {
      background-color: #495dc9;
      padding: 4px 16px;
      border-radius: 10px;
    }
  }

  .navbar-profile {
    .kelas-saya-navbar {
      font-size: 14px;
      margin-right: 0.5rem;
    }
    .img-profile-navbar {
      background-color: transparent;
      outline: none;
      border: none;
      // cursor: default;
      height: 80px;
      &:hover {
        .profile-navbar {
          display: block;
        }
      }
      .profile-navbar {
        display: none;
        position: absolute;
        background-color: #ffffff;
        list-style: none;
        margin-top: 1.2rem;
        border-radius: 5px;
        z-index: 1;
        padding: 0.4rem 0.8rem;
        .profile-navbar-item {
          .profile-navbar-link {
            color: #000000;
            text-transform: capitalize;
            &:hover {
              color: #2e2e2e;
            }
          }
        }
      }
    }
  }

  a {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none !important;
    text-transform: uppercase;
    &:hover {
      color: #dfdfdf;
    }
  }
}

.nav-collapse-materi-page {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  .title-navbar {
    align-self: center;
  }
  .logo-btn {
    position: absolute;
    top: 25px;
    left: 50px;
    // margin: auto;
  }
}
