.nav-collapse {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .navbar-btn {
    .navbar-btn-item {
      margin-right: 2rem;
    }
  }

  .navbar-search {
    .search-nav {
      border-radius: 20px;
      outline: none;
      border: none;
      padding: 0 0.5rem;
      height: 28px;
    }
  }

  .navbar-register {
    .btn-login {
      margin-right: 1rem;
      border: 1px solid #ffffff;
      padding: 4px 16px;
      border-radius: 10px;
    }

    .btn-register {
      background-color: #495dc9;
      padding: 4px 16px;
      border-radius: 10px;
    }
  }

  a {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none !important;
    text-transform: uppercase;
    &:hover {
      color: #dfdfdf;
    }
  }
}
