.kelas-saya-page {
  display: flex;
  .sidebar-menu {
    display: flex;
    flex-direction: column;
    width: 165px;
    margin-right: 2.5rem;
    .sidebar-menu-item {
      margin-bottom: 1rem;
      font-size: 16px;
      color: #a2a2a2;
      text-decoration: none;
      height: 37px;
      padding: 2px 1rem;
      display: flex;
      align-items: center;
      &.sidebar-menu-item-active {
        color: #2f3c80;
        background-color: rgba(210, 210, 210, 0.24);
        border-left: 5px solid #2f3c80;
      }
    }
  }
}

.card-progress {
  width: 100%;
  height: 133px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  box-sizing: border-box;
  padding: 1.1rem;
  .img-card-progress {
    width: 157px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 3rem;
  }
  .konten-card-progress {
    width: 80%;
    .progress-bar-item {
      display: flex;
      align-items: center;
      margin: 0.8rem 0;
      h5 {
        margin: 0;
        margin-left: 0.9rem;
        font-size: 15px;
        font-weight: 700;
      }
    }
    .progressbar-container {
      background-color: #c4c4c4;
      border-radius: 10px;
      overflow: hidden;
      width: 80%;
      .progressbar-progress {
        border-radius: 10px;
      }
    }
    .title-card-progress {
      font-size: 1.2rem;
      font-weight: 700;
      color: #2f3c80;
    }
    .konten-card-progress-info {
      display: flex;
      .kontent-card-progress-info-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        margin-right: 1.5rem;
        h5 {
          font-size: 14px;
          color: #a2a2a2;
          margin: 0;
        }
        img {
          margin-right: 0.7rem;
        }
      }
      .btn-progress {
        .btn-progress-item {
          text-decoration: none;
          color: #ffffff;
          padding: 3px 15px;
          border-radius: 20px;
          background-color: #f4a81e;
          font-size: 14px;
        }
      }
    }
  }
}
