.list-testimoni {
  .title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 2rem;
  }
  .scroll {
    .slick-list {
      height: 300px;
      .slick-slide {
        display: flex;
        justify-content: center;
      }
    }
    .slick-prev::before,
    .slick-next::before {
      content: none;
    }
  }
}
