.konten-detail-kelas {
  margin-top: 2.5rem;
  .title-detail-kelas {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 0;
    span {
      font-weight: 300;
    }
  }
  .detail-kelas {
    .deskripsi-kelas {
      font-size: 16px;
      color: #000000;
      line-height: 1.78rem;
      margin-bottom: 2.1rem;
    }
    .border-title {
      background-color: #2f3c80;
      height: 4px;
      width: 68px;
      margin-bottom: 1.2rem;
    }
  }
  .list-materi-kelas {
    margin-bottom: 2.1rem;
    // .list-kelas {
    //   display: flex;
    //   flex-direction: column;
    //   .btn-materi-kelas {
    //     background-color: #f5f5f5;
    //     margin-bottom: 1rem;
    //     text-align: left;
    //   }
    // }
  }
  .review-kelas {
    margin-bottom: 2.1rem;
    .row {
      margin-bottom: 1.8rem;
    }
    .review-testimoni {
      font-size: 16px;
      color: #000000;
    }
    .profil-review-kelas {
      display: flex;
      align-items: center;
      img {
        width: 55px;
        height: 55px;
        border-radius: 20px;
        margin-right: 1.2rem;
      }
      .profil-info-review-kelas {
        h5 {
          font-size: 16px;
          font-weight: 700;
          color: #000000;
          margin-bottom: 0;
        }
        p {
          font-size: 14px;
          font-weight: 300;
          color: #848484;
          margin-bottom: 0;
        }
      }
    }
  }
  .card-detail-kelas {
    background-color: #e5eaff;
    border-radius: 10px;
    padding: 30px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .benefit-card-info {
      .card-title {
        font-size: 12px;
        color: #000000;
        text-align: center;
        margin-bottom: 1rem;
      }
      .benefit-icon {
        display: flex;
        img {
          width: 25px;
          height: 25px;
          margin-right: 5px;
        }
        p {
          font-size: 12px;
          color: #999999;
        }
      }
    }
    .benefit-card-price {
      .card-price {
        display: flex;
        h5 {
          font-size: 14px;
          color: #848484;
        }
        h4 {
          font-size: 16px;
          font-weight: 700;
          color: #000000;
        }
      }
      .btn-card-beli-kelas {
        background-color: #f4a81e;
        width: 100%;
        border-radius: 10px;
        font-weight: 700;
        color: #ffffff;
      }
    }
  }
}
