.hero {
  padding: 0;
  .img-fluid {
    width: 100%;
  }
  .konten-hero {
    position: absolute;
    top: 220px;
    left: 110px;
    color: #ffffff;
    width: 471px;
    h3 {
      font-size: 48px;
      font-weight: 700;
    }
    p {
      font-size: 18px;
      font-weight: 300;
      margin: 3.5rem 0;
    }
    .btn-hero {
      width: 261px;
      background-color: #f4a81e;
      color: #ffffff;
      border-radius: 20px;
    }
  }
}
